.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    background-color: green;
}


.success,
.success code {
    background: #e0f2f1;
    color: #00897b;
}

p {
    border: 1px solid;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:
        black;
    color: white;
    opacity: 0.1;
    transition: all 10s ease-in-out;
}

.top {
    background-color:
        red;
    font-size: 0em;
    border: 1px solid;
    width: 0px;
    height: 0px;
    opacity: 1;
}